header, section, article, aside, nav, footer, figure, hgroup
{
	display:block;
}
body, header, section, article, aside, nav, footer, figure, hgroup
{
	margin:0;
	padding:0;
	border:0;
}
p
{
	margin:0px;
}
ul
{
	margin:0px;
	padding:0px;
}
a
{
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6
{
	font-weight:normal;
	margin:0px;
}